<div class="admin-layout flex min-h-screen bg-gray-100">

    <aside class="w-64 bg-blue-900 text-white flex flex-col">

        <div class="p-6 text-center border-1 border-blue-900">
            <h2 class="text-2xl font-bold">InkaTravel 🇵🇪</h2>
            <span class="text-sm text-gray-400">Panel Admin</span>
        </div>

        <nav class="flex-grow p-4 space-y-2 ">
            <a routerLink="/admin/dashboard" class="transition duration-300 ease-in-out block px-4 py-2 rounded-md hover:bg-white hover:text-blue-900  ">
                Dashboard
            </a>
            <a routerLink="/admin/usuarios" class="transition duration-300 ease-in-out block px-4 py-2 rounded-md hover:bg-white hover:text-blue-900 ">
                Gestión de Usuarios
            </a>
            <a routerLink="/admin/reservas" class="transition duration-300 ease-in-out block px-4 py-2 rounded-md hover:bg-white hover:text-blue-900 ">
                Gestión de Reservas
            </a>

            <a routerLink="/admin/paquetes" class="transition duration-300 ease-in-out block px-4 py-2 rounded-md hover:bg-white hover:text-blue-900 ">
                Gestión de Paquetes
            </a>

            <hr class="my-4 border-blue-900">

            <a routerLink="/home" class=" text-center transition duration-300 ease-in-out block px-4 py-2 rounded-md bg-blue-400 text-white font-medium">
                Volver a la Tienda
            </a>
        </nav>
    </aside>

    <main class="flex-grow p-8">
        <router-outlet></router-outlet>
    </main>

</div>