<div class="catalogo-container my-25">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Descubre tu Próxima Aventura</h1>
    <p class="text-lg text-gray-600 mb-8">Explora nuestro catálogo de destinos inolvidables en el Perú.</p>
    <div *ngIf="isLoading" 
        class="fixed inset-0 z-50 flex items-center justify-center ">

        <div class="flex flex-col items-center p-8 rounded-lg"> 

            <img src="assets/images/sol-inka.png" alt="Cargando Sol Inca" 
                class="loading-sol-inca w-24 h-24 mb-4">

            <p class="text-gray-800 text-2xl font-semibold">Cargando paquetes...</p>
        </div>
    </div>

    <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md">
        {{ errorMessage }}
    </div>

    <div *ngIf="!isLoading && !errorMessage" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div *ngFor="let paquete of paquetes" 
             class="paquete-card bg-white rounded-lg shadow-lg overflow-hidden flex flex-col transition duration-300 hover:shadow-xl">
            
        <div class="h-48 bg-gray-200 flex items-center justify-center text-gray-400 overflow-hidden">
            
            <img *ngIf="paquete.imagenUrl" 
                [src]="paquete.imagenUrl"
                alt="{{ paquete.nombre }}"
                class="w-full h-full object-cover">
            
            <div *ngIf="!paquete.imagenUrl" class="p-4 text-center">
                
                <p class="text-sm">Imagen no disponible</p>
            </div>
        </div>
                    
            <div class="paquete-info p-4 flex-grow">
                <h3 class="text-xl font-semibold text-gray-800 mb-1">{{ paquete.nombre }}</h3>
                <p class="text-sm text-gray-500 mb-3">{{ paquete.region }} - {{ paquete.categoria }}</p>
                <p class="descripcion text-gray-700 text-sm">
                    {{ paquete.descripcion | slice:0:100 }}...
                </p>
            </div>
            
            <div class="paquete-footer p-4 bg-gray-50 border-t flex justify-between items-center">
                <span class="precio text-xl font-bold text-blue-900">S/ {{ paquete.precio }}</span>
                
                <a [routerLink]="['/paquetes', paquete.id]" 
                   class="bg-blue-900 text-white px-4 py-2 rounded-md text-sm font-medium 
                          hover:bg-blue-900 transition duration-300">
                    Ver Detalle
                </a>
            </div>

        </div>

        <div *ngIf="paquetes.length === 0" class="col-span-full text-center p-12">
            <p class="text-lg text-gray-500">No se encontraron paquetes que coincidan con tu búsqueda.</p>
        </div>
    </div>
</div>