<header
  class="w-full bg-blue-900 border-b border-gray-200 py-3 fixed top-0 left-0 z-50 mb-"
>
  <div
    class="max-w-8xl mx-auto relative h-15 flex items-center justify-between px-4 sm:px-6 lg:px-8"
  >
    <a
      routerLink="/home"
      class="flex items-center text-xl font-bold text-white z-20"
    >
      InkaTravel PE 🇵🇪
    </a>

    <div
      class="bg-white rounded-full shadow-md p-1 flex space-x-1 absolute left-1/2 transform -translate-x-1/2 z-10"
    >
      <a
        routerLink="/paquetes"
        class="px-3 py-2 text-blue-900 font-medium rounded-full transition duration-200 hover:bg-blue-50 hover:text-blue-600"
      >
        Catálogo
      </a>

      <a
        routerLink="/mis-reservas"
        class="px-3 py-2 text-blue-900 font-medium rounded-full transition duration-200 hover:bg-blue-50 hover:text-blue-600"
      >
        Mis Reservas
      </a>

      <a
        routerLink="/mis-puntos"
        class="px-3 py-2 text-blue-900 font-medium rounded-full transition duration-200 hover:bg-blue-50 hover:text-blue-600"
      >
        Mis Puntos
      </a>

      <a
        routerLink="/perfil"
        class="px-3 py-2 text-blue-900 font-medium rounded-full transition duration-200 hover:bg-blue-50 hover:text-blue-600"
      >
        Mi Perfil
      </a>

      <a
        routerLink="/admin"
        *ngIf="isAdmin"
        class="px-3 py-2 text-yellow-600 font-medium rounded-full transition duration-200 hover:bg-blue-50 hover:text-blue-600"
      >
        Panel Admin
      </a>
    </div>

    <button
      *ngIf="estaLogueado()"
      (click)="logout()"
      class="bg-red-500 text-white px-4 py-2 rounded-md font-semibold hover:bg-red-600 transition duration-300 z-20"
    >
      Cerrar Sesión
    </button>
  </div>
</header>

<main class="app-main container mx-auto p-6 flex-grow">
  <router-outlet></router-outlet>
</main>

<footer class="bg-blue-900 text-gray-100 text-center p-6">
  <p>&copy; 2025 InkaTravel - Todos los derechos reservados.</p>
</footer>
