<div class="pago-exitoso-container">
    <div class="pago-exitoso-card">
        <div class="icono-exito">
            <span>✅</span>
        </div>
        <h2>¡Pago Aprobado!</h2>
        <p>Tu reserva ha sido confirmada exitosamente.</p>
        <p>Hemos enviado un correo de confirmación a tu email.</p>
        <p>Tu base de datos y tus puntos han sido actualizados por el Webhook.</p>

        <a href="http://localhost:4200/mis-reservas" class="btn-primary">Ir a Mis Reservas ahora</a>
    </div>
</div>  